In [48]:
import pandas as pd

import numpy as np

from sklearn.metrics import mean_squared_error

from skrub import TableVectorizer
import xgboost as xgb
from sklearn.pipeline import Pipeline

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge

from sklearn.preprocessing import LabelEncoder

In [32]:
# Import the files
df_train = pd.read_parquet("/Users/louisleibovici/Documents/VS_Code/Bike_counters DSB Project/bike_counters/data/train.parquet")
df_test = pd.read_parquet("/Users/louisleibovici/Documents/VS_Code/Bike_counters DSB Project/bike_counters/data/final_test.parquet")
external_data = pd.read_csv("/Users/louisleibovici/Documents/VS_Code/Bike_counters DSB Project/bike_counters/external_data/external_data_cleaned.csv")

In [33]:
external_data['date'].dtype

dtype('O')

In [34]:
external_data.head()

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,raf10,rafper,per,etat_sol,ht_neige,rr1,rr3,rr6,rr12,rr24
0,7149,2021-01-01 00:00:00,100810,80,1,270,1.8,272.75,272.15,96,...,2.5,2.5,-10,1.0,0.00,0.0,0.0,0.0,0.0,2.0
1,7149,2021-01-01 03:00:00,100920,110,3,300,1.7,271.25,270.95,98,...,2.2,2.2,-10,1.0,0.00,0.0,0.0,0.0,0.0,1.2
2,7149,2021-01-01 06:00:00,100950,30,3,290,2.6,271.95,271.65,98,...,3.2,3.2,-10,1.0,0.00,0.0,0.0,0.0,0.0,1.0
3,7149,2021-01-01 09:00:00,101100,150,2,280,1.7,272.45,272.05,97,...,2.3,2.3,-10,13.0,0.01,0.0,0.2,0.2,0.2,0.2
4,7149,2021-01-01 12:00:00,101110,30,0,50,1.0,276.95,274.15,82,...,2.5,4.4,-10,11.0,-0.01,0.0,0.0,0.2,0.2,0.2

In [35]:
print(external_data.shape)

(3322, 28)

In [36]:
unique_values = external_data.nunique()
print(unique_values)

numer_sta       1
date         3321
pmer          465
tend           99
cod_tend        9
dd             37
ff            109
t             345
td            281
u              77
vv           1230
ww             42
w1              9
w2              9
n              10
nbas           10
pres          459
tend24        353
raf10         170
rafper        186
per             1
etat_sol        9
ht_neige       33
rr1            33
rr3            64
rr6            91
rr12          124
rr24          164
dtype: int64

In [37]:
external_data['date'] = pd.to_datetime(external_data['date'])

first_three_days = external_data[external_data['date'].dt.date <= external_data['date'].dt.date.min() + pd.Timedelta(days=2)]

# Print the rows for the first three days
print("Rows for the first three days of the external data:")
first_three_days

Rows for the first three days of the external data:

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,raf10,rafper,per,etat_sol,ht_neige,rr1,rr3,rr6,rr12,rr24
3082,7149,2020-09-01 00:00:00,102050,-10,8,340,1.6,285.75,282.55,81,...,2.4,3.1,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3083,7149,2020-09-01 03:00:00,101990,-60,6,290,1.1,283.95,282.05,88,...,1.5,1.5,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3084,7149,2020-09-01 06:00:00,102000,10,3,360,1.8,284.25,282.85,91,...,5.0,5.9,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3085,7149,2020-09-01 09:00:00,101970,0,5,360,2.9,291.25,283.35,60,...,5.0,7.6,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3086,7149,2020-09-01 12:00:00,101850,-110,6,40,2.6,293.95,281.25,44,...,6.7,6.7,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3087,7149,2020-09-01 15:00:00,101740,-110,6,40,4.0,293.65,279.95,41,...,7.5,7.5,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3088,7149,2020-09-01 18:00:00,101760,10,3,20,3.0,292.15,280.55,47,...,6.5,6.5,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3089,7149,2020-09-01 21:00:00,101880,110,3,10,2.7,289.35,279.75,53,...,4.5,6.7,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3090,7149,2020-09-02 00:00:00,101920,30,2,360,3.2,287.75,280.75,63,...,4.5,4.5,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3091,7149,2020-09-02 03:00:00,101910,-20,7,360,1.4,285.45,281.35,76,...,2.2,4.4,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3092,7149,2020-09-02 06:00:00,101950,40,3,300,1.7,284.45,281.45,82,...,3.8,4.7,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3093,7149,2020-09-02 09:00:00,102040,110,2,40,2.3,291.05,282.45,57,...,4.8,5.6,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3094,7149,2020-09-02 12:00:00,101960,-60,8,360,1.9,294.35,279.45,38,...,4.4,6.0,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3095,7149,2020-09-02 15:00:00,101910,-50,7,340,2.6,295.55,280.15,37,...,5.4,7.1,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3096,7149,2020-09-02 18:00:00,101980,60,3,330,2.4,292.75,280.15,44,...,3.7,5.1,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3097,7149,2020-09-02 21:00:00,102060,70,0,150,0.5,290.55,281.45,55,...,0.9,2.7,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3098,7149,2020-09-03 00:00:00,102090,30,1,240,1.0,290.05,281.95,59,...,1.5,1.6,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3099,7149,2020-09-03 03:00:00,102030,-60,6,190,2.0,289.15,283.05,67,...,2.7,3.5,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3100,7149,2020-09-03 06:00:00,102080,50,3,200,1.4,289.25,282.65,65,...,2.1,3.1,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3101,7149,2020-09-03 09:00:00,102150,90,2,230,4.8,295.45,283.95,48,...,8.1,8.1,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3102,7149,2020-09-03 12:00:00,102090,-50,8,230,5.2,298.95,285.05,42,...,9.0,9.8,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3103,7149,2020-09-03 15:00:00,102030,-50,6,250,4.6,300.35,283.95,36,...,7.7,7.9,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3104,7149,2020-09-03 18:00:00,102060,20,3,230,3.1,298.95,285.75,44,...,5.2,5.6,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3105,7149,2020-09-03 21:00:00,102190,120,1,230,2.7,296.95,285.25,48,...,4.0,5.0,-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
first_three_days_train = df_train[df_train['date'].dt.date <= df_train['date'].dt.date.min() + pd.Timedelta(days=2)]

# Print the rows for the first three days
print("Rows for the first three days of the external data:")
first_three_days_train.head(30)

Rows for the first three days of the external data:

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,log_bike_count
48321,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 02:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48324,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,1.0,2020-09-01 03:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.693147
48327,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 04:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48330,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,4.0,2020-09-01 15:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.609438
48333,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,9.0,2020-09-01 18:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.302585
48336,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2.0,2020-09-01 20:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.098612
48339,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 23:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48342,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-02 04:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48345,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,3.0,2020-09-02 11:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.386294
48348,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,5.0,2020-09-02 13:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.791759
48351,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,4.0,2020-09-02 14:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.609438
48354,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,8.0,2020-09-02 17:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.197225
48357,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,7.0,2020-09-02 18:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.079442
48360,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-02 20:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48363,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-02 22:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48366,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2.0,2020-09-02 23:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.098612
48369,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,1.0,2020-09-03 05:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.693147
48372,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,12.0,2020-09-03 15:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.564949
48375,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,23.0,2020-09-03 16:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,3.178054
48378,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-03 21:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48381,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-03 23:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48428,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,0.0,2020-09-01 01:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.000000
48431,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,4.0,2020-09-01 05:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.609438
48434,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,5.0,2020-09-01 07:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.791759
48437,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,6.0,2020-09-01 08:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.945910
48440,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,4.0,2020-09-01 09:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.609438
48443,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2.0,2020-09-01 12:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.098612
48446,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,8.0,2020-09-01 16:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.197225
48449,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,7.0,2020-09-01 17:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,2.079442
48452,100007049-102007049,28 boulevard Diderot E-O,100007049,28 boulevard Diderot,2.0,2020-09-01 19:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,1.098612

What we can see : the days match between the external data set and the train and test sets BUT not the hour !! We will have to deal with this.

In [39]:
print(df_train['date'].max())
print(df_train['date'].min())

2021-09-09 23:00:00
2020-09-01 01:00:00

In [40]:
print(df_test['date'].max())
print(df_test['date'].min())

2021-10-18 21:00:00
2021-09-10 01:00:00

In [41]:
print(external_data['date'].max())
print(external_data['date'].min())

2021-10-21 12:00:00
2020-09-01 00:00:00

In [42]:
# we convert 'date' column to datetime in all datasets
external_data['date'] = pd.to_datetime(external_data['date'])
df_train['date'] = pd.to_datetime(df_train['date']).astype('datetime64[ns]')
df_test['date'] = pd.to_datetime(df_test['date']).astype('datetime64[ns]')

# We select the relevant features from the external data that we want to add to our analsis :
weather_features = external_data[['date', 't', 'u', 'ff', 'pmer', 'tend', 'dd', 'ww']]

# Sort datasets by date
weather_features.sort_values('date', inplace=True)
df_train.sort_values('date', inplace=True)
df_test.sort_values('date', inplace=True)

# we merge the data together  by performing the nearest match in terms of date :
# training_set_merged = pd.merge(df_train, weather_features, on=['date'], how='left')
# testing_set_merged = pd.merge(df_test, weather_features, on=['date'], how='left')
# Perform nearest match
training_set_merged = pd.merge_asof(df_train, weather_features, on='date', direction='nearest')
testing_set_merged = pd.merge_asof(df_test, weather_features, on='date', direction='nearest')

/var/folders/kg/kfs42kh56l91cr2y6vt0_djr0000gn/T/ipykernel_12316/1530730449.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_features.sort_values('date', inplace=True)

In [43]:
print(weather_features['date'].dtype)
print(df_train['date'].dtype)
print(df_test['date'].dtype)

datetime64[ns]
datetime64[ns]
datetime64[ns]

In [44]:
training_set_merged. head()

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,log_bike_count,t,u,ff,pmer,tend,dd,ww
0,100007049-101007049,28 boulevard Diderot O-E,100007049,28 boulevard Diderot,1.0,2020-09-01 01:00:00,2013-01-18,"48.846028,2.375429",Y2H15027244,48.846028,2.375429,0.693147,285.75,81,1.6,102050,-10,340,1
1,100056226-103056226,Face au 8 avenue de la porte de Charenton SE-NO,100056226,Face au 8 avenue de la porte de Charenton,1.0,2020-09-01 01:00:00,2019-11-01,"48.830331,2.400551",Y2H19070370,48.830331,2.400551,0.693147,285.75,81,1.6,102050,-10,340,1
2,100047545-104047545,Face 104 rue d'Aubervilliers S-N,100047545,Face 104 rue d'Aubervilliers,1.0,2020-09-01 01:00:00,2018-11-29,"48.890457,2.368852",Y2H18086321,48.890457,2.368852,0.693147,285.75,81,1.6,102050,-10,340,1
3,100060178-102060178,90 Rue De Sèvres NE-SO,100060178,90 Rue De Sèvres,21.0,2020-09-01 01:00:00,2020-07-22,"48.84638,2.31529",Y2H20052705,48.846380,2.315290,3.091042,285.75,81,1.6,102050,-10,340,1
4,100056327-103056327,Face au 4 avenue de la porte de Bagnolet E-O,100056327,Face au 4 avenue de la porte de Bagnolet,2.0,2020-09-01 01:00:00,2019-11-06,"48.86461,2.40969",Y2H19070372,48.864610,2.409690,1.098612,285.75,81,1.6,102050,-10,340,1

In [45]:
training_set_merged.isnull().sum()

counter_id                   0
counter_name                 0
site_id                      0
site_name                    0
bike_count                   0
date                         0
counter_installation_date    0
coordinates                  0
counter_technical_id         0
latitude                     0
longitude                    0
log_bike_count               0
t                            0
u                            0
ff                           0
pmer                         0
tend                         0
dd                           0
ww                           0
dtype: int64

dates match with the exception that the external_data max date is 21/10/2021 while test set ends on 18/10/2021. 3 useless days.

In [46]:
# Extract the date feature on different time scales :

def _encode_dates(X):
    X = X.copy()  # modify a copy of X
    # Encode the date information from the DateOfDeparture columns
    X["year"] = X["date"].dt.year
    X["month"] = X["date"].dt.month
    X["day"] = X["date"].dt.day
    X["weekday"] = X["date"].dt.weekday
    X["hour"] = X["date"].dt.hour

    # creation of a binary varible depicting if day in weekend
    X["is_weekend"] = np.where(X["weekday"] + 1 > 5, 1, 0)

    # Finally we can drop the original columns from the dataframe
    return X.drop(columns=["date"])

training_set_merged = _encode_dates(df_train)
testing_set_merged = _encode_dates(df_test)

In [47]:
X_train = training_set_merged.drop(columns=["bike_count", "log_bike_count"])
y_train = training_set_merged["log_bike_count"]

X_test = testing_set_merged.copy()

In [49]:
non_numeric_columns = X_train.select_dtypes(include=["object", "category"]).columns
print("Non-numeric columns:", non_numeric_columns)

# we convert them to numeric using label encoding :
label_encoder = LabelEncoder()
for col in non_numeric_columns:
    X_train[col] = label_encoder.fit_transform(X_train[col])
    X_test[col] = label_encoder.transform(X_test[col])

Non-numeric columns: Index(['counter_id', 'counter_name', 'site_name', 'coordinates',
       'counter_technical_id'],
      dtype='object')

In [50]:
# and for the counter_installation_date : to convert it to normal date :
for df in [X_train, X_test]:
    df["installation_year"] = df["counter_installation_date"].dt.year
    # df["installation_month"] = df["counter_installation_date"].dt.month
    # df["installation_day"] = df["counter_installation_date"].dt.day
    # df["days_since_installation"] = (pd.Timestamp.now() - df["counter_installation_date"]).dt.days

# Drop the original 'counter_installation_date' column
X_train = X_train.drop(columns=["counter_installation_date"])
X_test = X_test.drop(columns=["counter_installation_date"])

In [51]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [52]:
# Train Ridge Regression model
ridge = Ridge(alpha=1.0)  # Regularization strength (alpha)

In [64]:
'''# Preprocessing pipeline
pipeline = Pipeline(
    steps=[
        ('preprocessor', TableVectorizer()),
        ('model', xgb.XGBRegressor()),
    ]
)
'''

In [53]:
# Fit Pipeline to Training Data
ridge.fit(X_train, y_train)

# Make Predictions on Test Data
y_predictions = ridge.predict(X_test)

In [54]:
print(y_predictions)

[1.82066523 2.3896534  3.4340358  ... 3.93205109 4.10800208 4.6587964 ]

In [55]:
# We can print the RMSE on the training data :
y_train_predictions = ridge.predict(X_train)
rmse_train = mean_squared_error(y_train, y_train_predictions, squared=False)
print(f"Training RMSE: {rmse_train}")

Training RMSE: 1.5351247255480185

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [ ]:
pd.DataFrame(y_predictions, columns=["log_bike_count"]).reset_index().rename(
    columns={"index": "Id"}
).to_csv("/Users/louisleibovici/Documents/VS_Code/Bike_counters DSB Project/bike_counters/predictions_option_vsimple_with_weather.csv", index=False)